In [0]:
from pyspark.sql import SparkSession
import time
from pyspark.sql.functions import (
    col, count, avg, sum as spark_sum, max as spark_max, min as spark_min,
    desc, when, year, month, dayofmonth, round, lit, datediff, current_date,
    countDistinct
)

In [0]:

# loading data

print("Loading Daily Market Prices of Commodity in India from 2022 to 2025...")

df = spark.table("commodities_india")

print(f"Data loaded successfully")
print(f"   • Total rows: {df.count():,}")
print(f"   • Columns: {len(df.columns)}")
print()

# show schema
print("Schema:")
df.printSchema()
print()

# preview data
print("First 10 rows:")
df.show(10)

# show column names and types
print("Column Information:")
for i, (col_name, dtype) in enumerate(df.dtypes, 1):
    print(f"   {i:2d}. {col_name:20s} → {dtype}")
print()


# show missing values
print("Missing values:")
null_counts = df.select([
    spark_sum(when(col(c).isNull(), 1).otherwise(0)).alias(c) 
    for c in df.columns
])
null_counts.show()
print()

# show any duplicates
total_rows = df.count()
unique_rows = df.dropDuplicates().count()
duplicate_rows = total_rows - unique_rows

print(f"Duplicate Check:")
print(f"   • Total rows: {total_rows:,}")
print(f"   • Unique rows: {unique_rows:,}")
print(f"   • Duplicate rows: {duplicate_rows:,}")
print()

Loading Daily Market Prices of Commodity in India from 2022 to 2025...
Data loaded successfully
   • Total rows: 20,090,620
   • Columns: 11

Schema:
root
 |-- State: string (nullable = true)
 |-- District: string (nullable = true)
 |-- Market: string (nullable = true)
 |-- Commodity: string (nullable = true)
 |-- Variety: string (nullable = true)
 |-- Grade: string (nullable = true)
 |-- Arrival_Date: date (nullable = true)
 |-- Min_Price: double (nullable = true)
 |-- Max_Price: double (nullable = true)
 |-- Modal_Price: double (nullable = true)
 |-- Commodity_Code: long (nullable = true)


First 10 rows:
+--------------+------------+--------------------+--------------+-------------+-----+------------+---------+---------+-----------+--------------+
|         State|    District|              Market|     Commodity|      Variety|Grade|Arrival_Date|Min_Price|Max_Price|Modal_Price|Commodity_Code|
+--------------+------------+--------------------+--------------+-------------+-----+------------+---------+---------+-----------+--------------+
|Andhra Pradesh|     Chittor|            Chittoor| Gur (Jaggery)|         NO 2|  FAQ|  2025-01-01|   3200.0|   3500.0|     3500.0|            74|
|    Tamil Nadu|The Nilgiris|Gudalur (Uzhavar ...|        Garlic|      Average|Local|  2025-01-01|  28000.0|  30000.0|    30000.0|            25|
|    Tamil Nadu|The Nilgiris|Gudalur (Uzhavar ...|Ginger (Green)| Green Ginger|Local|  2025-01-01|   7000.0|   8000.0|     8000.0|           103|
|    Tamil Nadu|The Nilgiris|Gudalur (Uzhavar ...|  Green Chilli| Green Chilly|Local|  2025-01-01|   4500.0|   5000.0|     5000.0|            87|
|    Tamil Nadu|The Nilgiris|Gudalur (Uzhavar ...| Mint (Pudina)|Mint (Pudina)|Local|  2025-01-01|   4500.0|   5000.0|     5000.0|           360|
|    Tamil Nadu|The Nilgiris|Gudalur (Uzhavar ...|         Onion|      Bellary|Local|  2025-01-01|   4200.0|   4400.0|     4400.0|            23|
|    Tamil Nadu|The Nilgiris|Gudalur (Uzhavar ...|   Onion Green|  Onion Green|Local|  2025-01-01|   7000.0|   7400.0|     7400.0|           358|
|    Tamil Nadu|The Nilgiris|Gudalur (Uzhavar ...|        Potato|(Red Nanital)|Local|  2025-01-01|   4500.0|   5000.0|     5000.0|            24|
|    Tamil Nadu|The Nilgiris|Gudalur (Uzhavar ...|       Pumpkin|      Pumpkin|Local|  2025-01-01|   1800.0|   2000.0|     2000.0|            84|
|    Tamil Nadu|The Nilgiris|Gudalur (Uzhavar ...|       Raddish|      Raddish|Local|  2025-01-01|   3000.0|   3500.0|     3500.0|           161|
+--------------+------------+--------------------+--------------+-------------+-----+------------+---------+---------+-----------+--------------+
only showing top 10 rows
Column Information:
    1. State                → string
    2. District             → string
    3. Market               → string
    4. Commodity            → string
    5. Variety              → string
    6. Grade                → string
    7. Arrival_Date         → date
    8. Min_Price            → double
    9. Max_Price            → double
   10. Modal_Price          → double
   11. Commodity_Code       → bigint

Missing values:
+-----+--------+------+---------+-------+-----+------------+---------+---------+-----------+--------------+
|State|District|Market|Commodity|Variety|Grade|Arrival_Date|Min_Price|Max_Price|Modal_Price|Commodity_Code|
+-----+--------+------+---------+-------+-----+------------+---------+---------+-----------+--------------+
|    0|       0|     0|        0|      0|    0|           0|        0|        0|          0|             0|
+-----+--------+------+---------+-------+-----+------------+---------+---------+-----------+--------------+


Duplicate Check:
   • Total rows: 20,090,620
   • Unique rows: 20,090,587
   • Duplicate rows: 33

In [0]:
# filter 1

print("FILTER 1: REMOVING INVALID PRICES")

# Filter out rows where prices are null or negative
df_filtered = df.filter(
    (col("Min_Price").isNotNull()) &
    (col("Max_Price").isNotNull()) &
    (col("Modal_Price").isNotNull()) &
    (col("Min_Price") > 0) &
    (col("Max_Price") > 0) &
    (col("Modal_Price") > 0)
)

rows_after_filter1 = df_filtered.count()
rows_removed = df.count() - rows_after_filter1

print(f"Filter applied: Remove invalid prices")
print(f"   • Rows removed: {rows_removed:,}")
print(f"   • Rows remaining: {rows_after_filter1:,}")
print()

# filter 2

print("FILTER 2: REMOVING DUPLICATE ROWS")

# checking first
total_before = df_filtered.count()
unique_before = df_filtered.dropDuplicates().count()
duplicates = total_before - unique_before

print(f"Before removing duplicates:")
print(f"   • Total rows: {total_before:,}")
print(f"   • Unique rows: {unique_before:,}")
print(f"   • Duplicate rows: {duplicates:,}")
print()

df_filtered = df_filtered.dropDuplicates()

rows_after_filter2 = df_filtered.count()

print(f"Filter applied: Remove duplicate rows")
print(f"   • Rows removed: {duplicates:,}")
print(f"   • Rows remaining: {rows_after_filter2:,}")
print()

FILTER 1: REMOVING INVALID PRICES
Filter applied: Remove invalid prices
   • Rows removed: 30,869
   • Rows remaining: 20,059,751

FILTER 2: REMOVING DUPLICATE ROWS
Before removing duplicates:
   • Total rows: 20,059,751
   • Unique rows: 20,059,718
   • Duplicate rows: 33

Filter applied: Remove duplicate rows
   • Rows removed: 33
   • Rows remaining: 20,059,718

In [0]:
# join operation using regional data

print("JOIN OPERATION: Mapping States to Regions")

# create a state region lookup table
# group states in India by geographic region
state_region_data = [
    # South
    ("Andhra Pradesh", "South", "Southern Region"),
    ("Telangana", "South", "Southern Region"),
    ("Karnataka", "South", "Southern Region"),
    ("Kerala", "South", "Southern Region"),
    ("Tamil Nadu", "South", "Southern Region"),
    ("Puducherry", "South", "Southern Region"),
    ("Pondicherry", "South", "Southern Region"),
    ("Andaman and Nicobar", "South", "Southern Region"),
    
    # West
    ("Maharashtra", "West", "Western Region"),
    ("Gujarat", "West", "Western Region"),
    ("Goa", "West", "Western Region"),
    ("Rajasthan", "West", "Western Region"),
    ("Daman and Diu", "West", "Western Region"),
    ("Dadra and Nagar Haveli", "West", "Western Region"),
    
    # North
    ("Uttar Pradesh", "North", "Northern Region"),
    ("Punjab", "North", "Northern Region"),
    ("Haryana", "North", "Northern Region"),
    ("Delhi", "North", "Northern Region"),
    ("NCT of Delhi", "North", "Northern Region"), 
    ("Himachal Pradesh", "North", "Northern Region"),
    ("Uttarakhand", "North", "Northern Region"),
    ("Uttrakhand", "North", "Northern Region"),
    ("Jammu and Kashmir", "North", "Northern Region"),
    ("Chandigarh", "North", "Northern Region"),
    
    # East
    ("West Bengal", "East", "Eastern Region"),
    ("Bihar", "East", "Eastern Region"),
    ("Jharkhand", "East", "Eastern Region"),
    ("Odisha", "East", "Eastern Region"),
    
    # Northeast
    ("Assam", "Northeast", "Northeastern Region"),
    ("Manipur", "Northeast", "Northeastern Region"),
    ("Meghalaya", "Northeast", "Northeastern Region"),
    ("Tripura", "Northeast", "Northeastern Region"),
    ("Nagaland", "Northeast", "Northeastern Region"),
    ("Mizoram", "Northeast", "Northeastern Region"),
    ("Arunachal Pradesh", "Northeast", "Northeastern Region"),
    ("Sikkim", "Northeast", "Northeastern Region"),
    
    # Central
    ("Madhya Pradesh", "Central", "Central Region"),
    ("Chhattisgarh", "Central", "Central Region"),
    ("Chattisgarh", "Central", "Central Region")
]

# creating dataframe
state_region_df = spark.createDataFrame(
    state_region_data, 
    ["State", "Region", "Region_Full_Name"]
)


print("Regions in lookup table:")
state_region_df.select("Region", "Region_Full_Name").distinct().orderBy("Region").show(truncate=False)
print()

# perform join operation
print("LEFT JOIN")

print("Joining main data with region lookup...")
df_with_region = df_filtered.join(
    state_region_df,
    on="State",
    how="left" 
)

print(f"Join complete")
print(f"   • Records before join: {df_filtered.count():,}")
print(f"   • Records after join: {df_with_region.count():,}")
print()

# checking for unmatched states just in case 
unmatched = df_with_region.filter(col("Region").isNull())
unmatched_count = unmatched.count()

if unmatched_count > 0:
    print(f"Warning: {unmatched_count:,} records didn't match (Region is NULL)")
    print("   States without region mapping:")
    unmatched.select("State").distinct().show(10, truncate=False)
    print()
else:
    print("All records matched")
    print()

# sample of joined data
print("Sample data with region:")
df_with_region.select(
    "State", "Region", "District", "Commodity", 
    "Modal_Price", "Arrival_Date"
).show(15, truncate=False)
print()


# look at join results

print("JOIN VERIFICATION")

# counting records by region
print("Records by region:")
region_counts = df_with_region \
    .filter(col("Region").isNotNull()) \
    .groupBy("Region", "Region_Full_Name") \
    .agg(
        count("*").alias("total_records"),
        countDistinct("State").alias("num_states")
    ) \
    .orderBy(desc("total_records"))

region_counts.show(truncate=False)
print()

# aggregate operation: Group by region

print("AGGREGATION AFTER JOIN: REGIONAL ANALYSIS")

regional_stats = df_with_region \
    .filter(col("Region").isNotNull()) \
    .groupBy("Region", "Region_Full_Name") \
    .agg(
        count("*").alias("total_records"),
        countDistinct("State").alias("num_states"),           
        countDistinct("Commodity").alias("unique_commodities"), 
        countDistinct("Market").alias("unique_markets"), 
        round(avg("Modal_Price"), 2).alias("avg_modal_price"),
        round(spark_min("Modal_Price"), 2).alias("min_price"),
        round(spark_max("Modal_Price"), 2).alias("max_price"),
        round(avg("Min_Price"), 2).alias("avg_min_price"),
        round(avg("Max_Price"), 2).alias("avg_max_price")
    ) \
    .orderBy(desc("avg_modal_price"))

print("Regional price comparison:")
regional_stats.show(truncate=False)
print()

JOIN OPERATION: Mapping States to Regions
Regions in lookup table:
+---------+-------------------+
|Region   |Region_Full_Name   |
+---------+-------------------+
|Central  |Central Region     |
|East     |Eastern Region     |
|North    |Northern Region    |
|Northeast|Northeastern Region|
|South    |Southern Region    |
|West     |Western Region     |
+---------+-------------------+


LEFT JOIN
Joining main data with region lookup...
Join complete
   • Records before join: 20,059,718
   • Records after join: 20,059,718

All records matched

Sample data with region:
+--------------+-------+------------+----------------------+-----------+------------+
|State         |Region |District    |Commodity             |Modal_Price|Arrival_Date|
+--------------+-------+------------+----------------------+-----------+------------+
|Maharashtra   |West   |Satara      |Tomato                |2000.0     |2023-08-27  |
|Rajasthan     |West   |Hanumangarh |Onion                 |2400.0     |2023-08-27  |
|Uttar Pradesh |North  |Basti       |Bitter gourd          |2640.0     |2023-08-27  |
|Maharashtra   |West   |Ahmednagar  |Cabbage               |1000.0     |2023-08-27  |
|NCT of Delhi  |North  |Delhi       |Little gourd (Kundru) |1600.0     |2023-08-27  |
|Punjab        |North  |kapurthala  |Colacasia             |1500.0     |2023-08-27  |
|Telangana     |South  |Nalgonda    |Bhindi (Ladies Finger)|3000.0     |2023-08-27  |
|Uttar Pradesh |North  |Basti       |Rice                  |2780.0     |2023-08-27  |
|Uttar Pradesh |North  |Bulandshahar|Potato                |1235.0     |2023-08-27  |
|Madhya Pradesh|Central|Katni       |Guava                 |500.0      |2023-08-27  |
|Madhya Pradesh|Central|Rajgarh     |Lentil (Masur)(Whole) |6300.0     |2023-08-27  |
|Telangana     |South  |Hyderabad   |Plum                  |2550.0     |2023-08-27  |
|Uttar Pradesh |North  |Kaushambi   |Tomato                |3060.0     |2023-08-27  |
|Uttar Pradesh |North  |Saharanpur  |Lemon                 |3050.0     |2023-08-27  |
|Maharashtra   |West   |Pune        |Potato                |1500.0     |2023-08-27  |
+--------------+-------+------------+----------------------+-----------+------------+
only showing top 15 rows

JOIN VERIFICATION
Records by region:
+---------+-------------------+-------------+----------+
|Region   |Region_Full_Name   |total_records|num_states|
+---------+-------------------+-------------+----------+
|North    |Northern Region    |7070974      |8         |
|South    |Southern Region    |6404696      |7         |
|West     |Western Region     |3221756      |4         |
|Central  |Central Region     |1660160      |2         |
|East     |Eastern Region     |1268814      |4         |
|Northeast|Northeastern Region|433318       |6         |
+---------+-------------------+-------------+----------+


AGGREGATION AFTER JOIN: REGIONAL ANALYSIS
Regional price comparison:
+---------+-------------------+-------------+----------+------------------+--------------+---------------+---------+------------+-------------+-------------+
|Region   |Region_Full_Name   |total_records|num_states|unique_commodities|unique_markets|avg_modal_price|min_price|max_price   |avg_min_price|avg_max_price|
+---------+-------------------+-------------+----------+------------------+--------------+---------------+---------+------------+-------------+-------------+
|Northeast|Northeastern Region|433318       |6         |120               |143           |5860.6         |25.0     |700000.0    |5477.27      |6236.94      |
|South    |Southern Region    |6404696      |7         |230               |1104          |5566.43        |0.07     |3950000.0   |5008.14      |5781.23      |
|West     |Western Region     |3221756      |4         |200               |798           |5062.03        |1.0      |9.18421086E8|4438.03      |5656.31      |
|East     |Eastern Region     |1268814      |4         |156               |265           |3734.47        |2.0      |600000.0    |3502.1       |3985.57      |
|Central  |Central Region     |1660160      |2         |212               |528           |3528.22        |1.0      |4000000.0   |3052.93      |3827.72      |
|North    |Northern Region    |7070974      |8         |216               |665           |3348.49        |0.1      |1300000.0   |3113.06      |3584.29      |
+---------+-------------------+-------------+----------+------------------+--------------+---------------+---------+------------+-------------+-------------+

In [0]:
# column transformations using withColumn

df_transformed = df_with_region

df_transformed = df_transformed \
    .withColumn("Avg_Price", (col("Min_Price") + col("Max_Price")) / 2)

df_transformed = df_transformed \
    .withColumn("Price_Volatility_Pct", 
                round(((col("Max_Price") - col("Min_Price")) / col("Modal_Price")) * 100, 2))

# Show sample
df_transformed.select(
    "Commodity", "Min_Price", "Max_Price", "Modal_Price", 
    "Avg_Price", "Price_Volatility_Pct"
).show(10)

+--------------------+---------+---------+-----------+---------+--------------------+
|           Commodity|Min_Price|Max_Price|Modal_Price|Avg_Price|Price_Volatility_Pct|
+--------------------+---------+---------+-----------+---------+--------------------+
|              Tomato|   1000.0|   2000.0|     2000.0|   1500.0|                50.0|
|               Onion|   2400.0|   2400.0|     2400.0|   2400.0|                 0.0|
|        Bitter gourd|   2590.0|   2690.0|     2640.0|   2640.0|                3.79|
|             Cabbage|    400.0|   1800.0|     1000.0|   1100.0|               140.0|
|Little gourd (Kun...|   1400.0|   1800.0|     1600.0|   1600.0|                25.0|
|           Colacasia|   1200.0|   1500.0|     1500.0|   1350.0|                20.0|
|Bhindi (Ladies Fi...|   3000.0|   3000.0|     3000.0|   3000.0|                 0.0|
|                Rice|   2730.0|   2830.0|     2780.0|   2780.0|                 3.6|
|              Potato|   1130.0|   1340.0|     1235.0|   1235.0|                17.0|
|               Guava|    500.0|    500.0|      500.0|    500.0|                 0.0|
+--------------------+---------+---------+-----------+---------+--------------------+
only showing top 10 rows

In [0]:
# sql queries

df_transformed.createOrReplaceTempView("df_transformed")

print("SQL QUERY 1: Top 10 Most Volatile Commodities by Region")

query1 = """
SELECT 
    Region,
    Commodity,
    ROUND(AVG(Price_Volatility_Pct), 2) as Avg_Volatility,
    COUNT(*) as Record_Count,
    ROUND(AVG(Avg_Price), 2) as Avg_Price
FROM df_transformed
WHERE Price_Volatility_Pct IS NOT NULL
GROUP BY Region, Commodity
ORDER BY Avg_Volatility DESC
LIMIT 10
"""

result1 = spark.sql(query1)
result1.show(10, truncate=False)

print()


print("SQL QUERY 2: Price Comparison - Above vs Below Modal Price by State")


query2 = """
SELECT 
    State,
    COUNT(CASE WHEN Avg_Price > Modal_Price THEN 1 END) as Above_Modal_Count,
    COUNT(CASE WHEN Avg_Price <= Modal_Price THEN 1 END) as Below_Modal_Count,
    ROUND(AVG(CASE WHEN Avg_Price > Modal_Price THEN Avg_Price END), 2) as Avg_Price_Above_Modal,
    ROUND(AVG(CASE WHEN Avg_Price <= Modal_Price THEN Avg_Price END), 2) as Avg_Price_Below_Modal,
    COUNT(*) as Total_Records
FROM df_transformed
WHERE Avg_Price IS NOT NULL AND Modal_Price IS NOT NULL
GROUP BY State
HAVING COUNT(*) > 100
ORDER BY Above_Modal_Count DESC
LIMIT 15
"""

result2 = spark.sql(query2)
result2.show(15, truncate=False)

print()

SQL QUERY 1: Top 10 Most Volatile Commodities by Region
+-------+-----------------------+--------------+------------+---------+
|Region |Commodity              |Avg_Volatility|Record_Count|Avg_Price|
+-------+-----------------------+--------------+------------+---------+
|West   |Brinjal                |210.48        |71133       |3545.68  |
|North  |Mace                   |128.0         |1           |3400.0   |
|Central|Garlic                 |124.48        |34784       |6824.65  |
|West   |Dry Grapes             |124.29        |236         |14531.36 |
|West   |She Buffalo            |115.69        |461         |46369.82 |
|Central|Ashwagandha            |115.57        |425         |20076.24 |
|West   |Cow                    |112.46        |484         |43931.49 |
|North  |Custard Apple (Sharifa)|109.84        |224         |7824.35  |
|West   |Goat                   |108.26        |341         |7443.78  |
|East   |Goat                   |108.12        |600         |9672.17  |
+-------+-----------------------+--------------+------------+---------+


SQL QUERY 2: Price Comparison - Above vs Below Modal Price by State
+----------------+-----------------+-----------------+---------------------+---------------------+-------------+
|State           |Above_Modal_Count|Below_Modal_Count|Avg_Price_Above_Modal|Avg_Price_Below_Modal|Total_Records|
+----------------+-----------------+-----------------+---------------------+---------------------+-------------+
|Uttar Pradesh   |913328           |3050355          |3478.74              |3400.31              |3963683      |
|Kerala          |443189           |1692055          |5569.28              |6000.5               |2135244      |
|Madhya Pradesh  |337782           |1083709          |3308.54              |3636.84              |1421491      |
|Maharashtra     |253890           |1192563          |4179.75              |5698.87              |1446453      |
|Punjab          |249677           |903986           |3012.06              |2797.82              |1153663      |
|Haryana         |207380           |690600           |2606.74              |2757.14              |897980       |
|Gujarat         |138379           |805199           |5042.16              |4838.06              |943578       |
|Rajasthan       |138092           |663317           |4346.6               |4079.59              |801409       |
|Odisha          |120421           |293402           |3931.07              |3670.5               |413823       |
|West Bengal     |120287           |590830           |4397.74              |3947.58              |711117       |
|Karnataka       |110770           |486097           |7229.62              |6473.27              |596867       |
|Himachal Pradesh|106720           |408579           |4478.46              |4959.34              |515299       |
|Telangana       |69916            |437286           |3828.7               |3314.49              |507202       |
|Uttrakhand      |56324            |182633           |2214.56              |1935.07              |238957       |
|Chattisgarh     |34212            |204457           |2967.79              |2695.49              |238669       |
+----------------+-----------------+-----------------+---------------------+---------------------+-------------+

In [0]:

# Write the transformed data to a Parquet table
print("Writing transformed data to Parquet table...")
df_transformed.write.mode("overwrite").saveAsTable("commodity_analysis_results")

print("Results written to table: commodity_analysis_results")
print()

# Verify the write
print("Verifying saved data:")
saved_df = spark.sql("SELECT * FROM commodity_analysis_results")
print(f"   • Rows saved: {saved_df.count():,}")
print()

saved_df.show(10)
print()

Writing transformed data to Parquet table...
Results written to table: commodity_analysis_results

Verifying saved data:
   • Rows saved: 20,059,718

+--------------+-------------+-------------+--------------------+-----------+------+------------+---------+---------+-----------+--------------+-------+----------------+---------+--------------------+
|         State|     District|       Market|           Commodity|    Variety| Grade|Arrival_Date|Min_Price|Max_Price|Modal_Price|Commodity_Code| Region|Region_Full_Name|Avg_Price|Price_Volatility_Pct|
+--------------+-------------+-------------+--------------------+-----------+------+------------+---------+---------+-----------+--------------+-------+----------------+---------+--------------------+
|Madhya Pradesh|      Khandwa|Khandwa (F&V)|        Sponge gourd|      Other|   FAQ|  2023-08-27|   1200.0|   3500.0|     2545.0|           311|Central|  Central Region|   2350.0|               90.37|
|   Maharashtra|         Pune|         Pune|              Kakada|      Other|   FAQ|  2023-08-27|  30000.0|  40000.0|    35000.0|           230|   West|  Western Region|  35000.0|               28.57|
| Uttar Pradesh|       Badaun|    Wazirganj|         Pomegranate|Pomogranate|Medium|  2023-08-27|   6380.0|   6480.0|     6430.0|           190|  North| Northern Region|   6430.0|                1.56|
| Uttar Pradesh| Bulandshahar| Jahangirabad|               Apple|  Delicious|Medium|  2023-08-27|   5345.0|   5555.0|     5450.0|            17|  North| Northern Region|   5450.0|                3.85|
|    Uttrakhand|     Haridwar|     Manglaur|             Pumpkin|      Other|   FAQ|  2023-08-27|   1000.0|   1200.0|     1100.0|            84|  North| Northern Region|   1100.0|               18.18|
|   West Bengal|   Jalpaiguri|     Belacoba|               Onion|      Other|   FAQ|  2023-08-27|   2800.0|   3000.0|     2900.0|            23|   East|  Eastern Region|   2900.0|                 6.9|
|   West Bengal|   Jalpaiguri|    Moynaguri|       Sweet Pumpkin|      Other|   FAQ|  2023-08-27|   1900.0|   2100.0|     2000.0|           173|   East|  Eastern Region|   2000.0|                10.0|
|       Gujarat|    Bhavnagar|       Taleja|Sesamum (Sesame,G...|      White|   FAQ|  2023-08-28|  12500.0|  15700.0|    14100.0|            11|   West|  Western Region|  14100.0|                22.7|
|       Gujarat|Surendranagar|      Vadhvan|         Onion Green|Onion Green|   FAQ|  2023-08-28|   2500.0|   4000.0|     3250.0|           358|   West|  Western Region|   3250.0|               46.15|
|       Haryana|       Hissar|        Hansi|Bhindi (Ladies Fi...|      Other|   FAQ|  2023-08-28|    800.0|   1000.0|      900.0|            85|  North| Northern Region|    900.0|               22.22|
+--------------+-------------+-------------+--------------------+-----------+------+------------+---------+---------+-----------+--------------+-------+----------------+---------+--------------------+
only showing top 10 rows

In [0]:
print("Execution plan for the aggregation query:")
result1.explain(True)

Execution plan for the aggregation query:
== Parsed Logical Plan ==
'GlobalLimit 10
+- 'LocalLimit 10
   +- 'Sort ['Avg_Volatility DESC NULLS LAST], true
      +- 'Aggregate ['Region, 'Commodity], ['Region, 'Commodity, 'ROUND('AVG('Price_Volatility_Pct), 2) AS Avg_Volatility#17878, 'COUNT(1) AS Record_Count#17879, 'ROUND('AVG('Avg_Price), 2) AS Avg_Price#17880]
         +- 'Filter isnotnull('Price_Volatility_Pct)
            +- 'UnresolvedRelation [df_transformed], [], false

== Analyzed Logical Plan ==
Region: string, Commodity: string, Avg_Volatility: double, Record_Count: bigint, Avg_Price: double
GlobalLimit 10
+- LocalLimit 10
   +- Sort [Avg_Volatility#17878 DESC NULLS LAST], true
      +- Aggregate [Region#16594, Commodity#16236], [Region#16594, Commodity#16236, round(avg(Price_Volatility_Pct#16599), 2) AS Avg_Volatility#17878, count(1) AS Record_Count#17879L, round(avg(Avg_Price#16597), 2) AS Avg_Price#17880]
         +- Filter isnotnull(Price_Volatility_Pct#16599)
            +- SubqueryAlias df_transformed
               +- View (`df_transformed`, [State#16233, District#16234, Market#16235, Commodity#16236, Variety#16237, Grade#16238, Arrival_Date#16239, Min_Price#16240, Max_Price#16241, Modal_Price#16242, Commodity_Code#16243L, Region#16594, Region_Full_Name#16595, Avg_Price#16597, Price_Volatility_Pct#16599])
                  +- Project [State#16233, District#16234, Market#16235, Commodity#16236, Variety#16237, Grade#16238, Arrival_Date#16239, Min_Price#16240, Max_Price#16241, Modal_Price#16242, Commodity_Code#16243L, Region#16594, Region_Full_Name#16595, Avg_Price#16597, round((((Max_Price#16241 - Min_Price#16240) / Modal_Price#16242) * cast(100 as double)), 2) AS Price_Volatility_Pct#16599]
                     +- Project [State#16233, District#16234, Market#16235, Commodity#16236, Variety#16237, Grade#16238, Arrival_Date#16239, Min_Price#16240, Max_Price#16241, Modal_Price#16242, Commodity_Code#16243L, Region#16594, Region_Full_Name#16595, ((Min_Price#16240 + Max_Price#16241) / cast(2 as double)) AS Avg_Price#16597]
                        +- Project [State#16233, District#16234, Market#16235, Commodity#16236, Variety#16237, Grade#16238, Arrival_Date#16239, Min_Price#16240, Max_Price#16241, Modal_Price#16242, Commodity_Code#16243L, Region#16594, Region_Full_Name#16595]
                           +- Join LeftOuter, (State#16233 = State#16593)
                              :- Deduplicate [State#16233, District#16234, Market#16235, Commodity#16236, Variety#16237, Grade#16238, Arrival_Date#16239, Min_Price#16240, Max_Price#16241, Modal_Price#16242, Commodity_Code#16243L]
                              :  +- Filter (((((isnotnull(Min_Price#16240) AND isnotnull(Max_Price#16241)) AND isnotnull(Modal_Price#16242)) AND (Min_Price#16240 > cast(0 as double))) AND (Max_Price#16241 > cast(0 as double))) AND (Modal_Price#16242 > cast(0 as double)))
                              :     +- SubqueryAlias workspace.default.commodities_india
                              :        +- Relation workspace.default.commodities_india[State#16233,District#16234,Market#16235,Commodity#16236,Variety#16237,Grade#16238,Arrival_Date#16239,Min_Price#16240,Max_Price#16241,Modal_Price#16242,Commodity_Code#16243L] parquet
                              +- Project [State#16215 AS State#16593, Region#16216 AS Region#16594, Region_Full_Name#16217 AS Region_Full_Name#16595]
                                 +- LocalRelation [State#16215, Region#16216, Region_Full_Name#16217]

== Optimized Logical Plan ==
GlobalLimit 10
+- LocalLimit 10
   +- Sort [Avg_Volatility#17878 DESC NULLS LAST], true
      +- Aggregate [Region#16594, Commodity#16236], [Region#16594, Commodity#16236, round(avg(Price_Volatility_Pct#16599), 2) AS Avg_Volatility#17878, count(1) AS Record_Count#17879L, round(avg(Avg_Price#16597), 2) AS Avg_Price#17880]
         +- Project [Commodity#16236, Region#16594, ((Min_Price#16240 + Max_Price#16241) / 2.0) AS Avg_Price#16597, round((((Max_Price#16241 - Min_Price#16240) / Modal_Price#16242) * 100.0), 2) AS Price_Volatility_Pct#16599]
            +- Join LeftOuter, (State#16233 = State#16593)
               :- Aggregate [State#16233, District#16234, Market#16235, Commodity#16236, Variety#16237, Grade#16238, Arrival_Date#16239, Min_Price#16240, Max_Price#16241, Modal_Price#16242, Commodity_Code#16243L], [State#16233, Commodity#16236, Min_Price#16240, Max_Price#16241, Modal_Price#16242]
               :  +- Filter ((((((isnotnull(Min_Price#16240) AND isnotnull(Max_Price#16241)) AND isnotnull(Modal_Price#16242)) AND (Min_Price#16240 > 0.0)) AND (Max_Price#16241 > 0.0)) AND (Modal_Price#16242 > 0.0)) AND isnotnull(round((((Max_Price#16241 - Min_Price#16240) / Modal_Price#16242) * 100.0), 2)))
               :     +- Relation workspace.default.commodities_india[State#16233,District#16234,Market#16235,Commodity#16236,Variety#16237,Grade#16238,Arrival_Date#16239,Min_Price#16240,Max_Price#16241,Modal_Price#16242,Commodity_Code#16243L] parquet
               +- Filter isnotnull(State#16593)
                  +- LocalRelation [State#16593, Region#16594]

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- == Initial Plan ==
   ColumnarToRow
   +- PhotonResultStage
      +- PhotonTopK(limit=10, includeTies=false, sortOrder=[Avg_Volatility#17878 DESC NULLS LAST], partitionOrderCount=0)
         +- PhotonShuffleExchangeSource
            +- PhotonShuffleMapStage ENSURE_REQUIREMENTS, [id=#19810]
               +- PhotonShuffleExchangeSink SinglePartition
                  +- PhotonTopK(limit=10, includeTies=false, sortOrder=[Avg_Volatility#17878 DESC NULLS LAST], partitionOrderCount=0)
                     +- PhotonGroupingAgg(limit=None, keys=[Region#16594, Commodity#16236], functions=[avg(Price_Volatility_Pct#16599), count(1), avg(Avg_Price#16597)], output=[Region#16594, Commodity#16236, Avg_Volatility#17878, Record_Count#17879L, Avg_Price#17880])
                        +- PhotonProject [Commodity#16236, Region#16594, ((Min_Price#16240 + Max_Price#16241) / 2.0) AS Avg_Price#16597, round((((Max_Price#16241 - Min_Price#16240) / Modal_Price#16242) * 100.0), 2) AS Price_Volatility_Pct#16599]
                           +- PhotonBroadcastHashJoin [State#16233], [State#16593], LeftOuter, BuildRight, false, true
                              :- PhotonGroupingAgg(limit=None, keys=[State#16233, District#16234, Market#16235, Commodity#16236, Variety#16237, Grade#16238, Arrival_Date#16239, Min_Price#16240, Max_Price#16241, Modal_Price#16242, Commodity_Code#16243L], functions=[], output=[State#16233, Commodity#16236, Min_Price#16240, Max_Price#16241, Modal_Price#16242])
                              :  +- PhotonShuffleExchangeSource
                              :     +- PhotonShuffleMapStage ENSURE_REQUIREMENTS, [id=#19789]
                              :        +- PhotonShuffleExchangeSink hashpartitioning(Commodity#16236, 1024)
                              :           +- PhotonGroupingAgg(limit=None, keys=[State#16233, District#16234, Market#16235, Commodity#16236, Variety#16237, Grade#16238, Arrival_Date#16239, knownfloatingpointnormalized(normalizenanandzero(Min_Price#16240)) AS Min_Price#16240, knownfloatingpointnormalized(normalizenanandzero(Max_Price#16241)) AS Max_Price#16241, knownfloatingpointnormalized(normalizenanandzero(Modal_Price#16242)) AS Modal_Price#16242, Commodity_Code#16243L], functions=[], output=[State#16233, District#16234, Market#16235, Commodity#16236, Variety#16237, Grade#16238, Arrival_Date#16239, Min_Price#16240, Max_Price#16241, Modal_Price#16242, Commodity_Code#16243L])
                              :              +- PhotonScan parquet workspace.default.commodities_india[State#16233,District#16234,Market#16235,Commodity#16236,Variety#16237,Grade#16238,Arrival_Date#16239,Min_Price#16240,Max_Price#16241,Modal_Price#16242,Commodity_Code#16243L] DataFilters: [isnotnull(Min_Price#16240), isnotnull(Max_Price#16241), isnotnull(Modal_Price#16242), (Min_Price..., DictionaryFilters: [(Min_Price#16240 > 0.0), (Modal_Price#16242 > 0.0), (Max_Price#16241 > 0.0)], Format: parquet, Location: PreparedDeltaFileIndex(1 paths)[s3://dbstorage-prod-x5042/uc/02476681-8374-43b2-bf7f-16ac00849806..., OptionalDataFilters: [], PartitionFilters: [], ReadSchema: struct<State:string,District:string,Market:string,Commodity:string,Variety:string,Grade:string,Ar..., RequiredDataFilters: [isnotnull(Min_Price#16240), isnotnull(Max_Price#16241), isnotnull(Modal_Price#16242), (Min_Price...
                              +- PhotonShuffleExchangeSource
                                 +- PhotonShuffleMapStage EXECUTOR_BROADCAST, [id=#19799]
                                    +- PhotonShuffleExchangeSink SinglePartition
                                       +- PhotonFilter isnotnull(State#16593)
                                          +- PhotonRowToColumnar
                                             +- LocalTableScan [State#16593, Region#16594]

== Photon Explanation ==
The query is fully supported by Photon.
== Optimizer Statistics (table names per statistics state) ==
  missing =
  partial =
  full    = commodities_india

In [0]:
# Actions vs. Transformations

import time
from pyspark.sql.functions import col

df = spark.table("commodities_india")

# Transformation: Select specific columns (lazy)
start_transformation_time = time.time()
transformation = df.select("State", "Commodity", "Market", "Min_Price", "Max_Price", "Modal_Price")
end_transformation_time = time.time()
transformation_time = end_transformation_time - start_transformation_time

# Action: Count the number of records (eager)
start_action_count_time = time.time()
record_count = transformation.count()
end_action_count_time = time.time()
action_count_time = end_action_count_time - start_action_count_time

# Action: Show the first few rows (eager)
start_action_show_time = time.time()
sample_data = transformation.show()
end_action_show_time = time.time()
action_show_time = end_action_show_time - start_action_show_time

# results
print(f"Transformation Time: {transformation_time:.4f} seconds")
print(f"Record Count: {record_count:,}")
print(f"Action (Show) Time: {action_show_time:.4f} seconds")

+--------------+----------------+--------------------+---------+---------+-----------+
|         State|       Commodity|              Market|Min_Price|Max_Price|Modal_Price|
+--------------+----------------+--------------------+---------+---------+-----------+
|Andhra Pradesh|   Gur (Jaggery)|            Chittoor|   3200.0|   3500.0|     3500.0|
|    Tamil Nadu|          Garlic|Gudalur (Uzhavar ...|  28000.0|  30000.0|    30000.0|
|    Tamil Nadu|  Ginger (Green)|Gudalur (Uzhavar ...|   7000.0|   8000.0|     8000.0|
|    Tamil Nadu|    Green Chilli|Gudalur (Uzhavar ...|   4500.0|   5000.0|     5000.0|
|    Tamil Nadu|   Mint (Pudina)|Gudalur (Uzhavar ...|   4500.0|   5000.0|     5000.0|
|    Tamil Nadu|           Onion|Gudalur (Uzhavar ...|   4200.0|   4400.0|     4400.0|
|    Tamil Nadu|     Onion Green|Gudalur (Uzhavar ...|   7000.0|   7400.0|     7400.0|
|    Tamil Nadu|          Potato|Gudalur (Uzhavar ...|   4500.0|   5000.0|     5000.0|
|    Tamil Nadu|         Pumpkin|Gudalur (Uzhavar ...|   1800.0|   2000.0|     2000.0|
|    Tamil Nadu|         Raddish|Gudalur (Uzhavar ...|   3000.0|   3500.0|     3500.0|
|    Tamil Nadu|      Snakeguard|Gudalur (Uzhavar ...|   3500.0|   4000.0|     4000.0|
|    Tamil Nadu|         Tapioca|Gudalur (Uzhavar ...|   4000.0|   4500.0|     4500.0|
|    Tamil Nadu|      Snakeguard|Thalavaipuram (Uz...|   4000.0|   4500.0|     4500.0|
|    Tamil Nadu|          Potato|Thalavaipuram (Uz...|   4500.0|   5000.0|     5000.0|
|    Tamil Nadu|Amla (Nelli Kai)|Udhagamandalam (U...|   6500.0|   7000.0|     7000.0|
|    Tamil Nadu|           Apple|Udhagamandalam (U...|  15000.0|  18000.0|    18000.0|
|    Tamil Nadu|        Ashgourd|Udhagamandalam (U...|   1500.0|   2000.0|     2000.0|
|    Tamil Nadu|          Banana|Udhagamandalam (U...|   3500.0|   5000.0|     5000.0|
|    Tamil Nadu|  Banana - Green|Udhagamandalam (U...|   3500.0|   4000.0|     4000.0|
|    Tamil Nadu|           Beans|Udhagamandalam (U...|   7000.0|   8000.0|     8000.0|
+--------------+----------------+--------------------+---------+---------+-----------+
only showing top 20 rows
Transformation Time: 0.0003 seconds
Record Count: 20,090,620
Action (Show) Time: 0.4267 seconds